@charset "utf-8";


/***************************************
*              Common Css              *
***************************************/
.btn{
	font-size: 1.6rem;
	-webkit-transition: background-position .3s;
	-moz-transition: background-position .3s;
	transition: background-position .3s;
}
.btn.btn1{
	padding: 1.4rem 2.3rem;
	background-size: 200% 100%;
	background-image: linear-gradient(to right, #282828 50%, #E50A84 50%);
	border: none;
	border-radius: 2.2rem;
	color: #FFFFFF;
}
.btn:hover,
.btn.active{
	background-position: -100% 0;
}

.btn.btn2{
	padding: 2.3rem 2.8rem;
	background-size: 200% 100%;
	background-image: linear-gradient(to right, #fff 50%, #E50A84 50%);
	border: 1px solid #E50A84;
	border-radius: 3rem;
	color: #E50A84;
}
.btn2:hover,
.btn2.active{
	background-position: -100% 0;
	color: #fff;
}

.btn.btn3{
	padding: 1.4rem 2.3rem;
	background-size: 200% 100%;
	background-image: linear-gradient(to right, #282828 50%, #fff 50%);
	border: 1px solid #fff;
	border-radius: 3rem;
	color: #fff;
}
.btn3:hover,
.btn3.active{
	background-position: -100% 0;
	color: #282828;
}

.main .secTitle{
	font-size: 5rem;
	font-weight: 700;
	color: #282828;
}

.main .secTitle p{
	margin-bottom: 1.4rem;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

.main .secTitle p:last-child{
	margin-bottom: 0;
}

.main .subTitle{
	margin-top: 2rem;
	font-size: 2.4rem;
	font-weight: 400;
	color: #888;
}

.main .subTitle p{
	margin-bottom: 0.7rem;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

.main .subTitle p:last-child{
	margin-bottom: 0;
}





/***************************************
*             Header / GNB             *
***************************************/

.header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	z-index: 1000;
}

#logo{
	width: 10.2rem;
	height: 3.2rem;
	margin: 2.6rem 0;
	background: url(../img/logo.svg) no-repeat center center / cover transparent;
}

.gnb{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	.gnb ul{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.gnb ul li a{
		padding: 3.3rem 2rem;
		position: relative;
		font-size: 1.8rem;
		color: #282828;
	}


	.gnb ul li a::after{
		content: '';
		width: 0;
		height: 2px;
		position: absolute;
		bottom: 2.3rem;
		left: 2rem;
		background-color: #E50A84;
		-webkit-transition: width .3s;
		-moz-transition: width .3s;
		transition: width .3s;
	}

	.gnb ul li a:hover::after{
		width: calc(100% - 4rem);
	}


/***************************************
*               Main.html              *
***************************************/

#visual video{
	width: 100%;
}

.section{
	min-height: 100vh;
}

#section1{
	height: 100vh;
	margin-top: 10vh;
	margin-bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  #section1 .slideWrap .slideItem{
	  padding: 25px 0;
	  text-align: center;
	  font-size: 50px;
	  font-weight: bold;
	  line-height: 1;
	  /* font: 700 44px/1 "Pretendard Variable"; */
	  opacity: 0;
	  color: #282828;
  }
  #section1 .slideWrap .slideItem .icon{
	width: 50px;
	height: 50px;
	margin: 0 20px;
	display: inline-block;
	vertical-align: top;
	background-size: 70px 70px;
	background-position: -10px -10px;
	background-repeat: no-repeat;
  }
  #section1 .slideWrap .item1 .icon{background-image: url(../img/icon_sec1_slide1.gif);}
  #section1 .slideWrap .item2 .icon{background-image: url(../img/icon_sec1_slide2.gif);}
  #section1 .slideWrap .item3 .icon{background-image: url(../img/icon_sec1_slide3.gif);}
  #section1 .slideWrap .item4 .icon{background-image: url(../img/icon_sec1_slide4.gif);}
  #section1 .slideWrap .item5 .icon{background-image: url(../img/icon_sec1_slide5.gif);}
  #section1 .slideWrap .item6 .icon{background-image: url(../img/icon_sec1_slide6.gif);}


#section2{
	height: 220rem;
	text-align: center;
}

	#section2 .rollingFrame{
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
    overflow: hidden;
	}

	#section2 .rollingItem{
		font-size: 6rem;
		font-weight: 700;
	}

	#section2 .rollingItem.item1,
	#section2 .rollingItem.item2{
		margin-bottom: 1.6rem;
		opacity: 0;
		color: #282828;
	}

	#section2 .rollingItem.item3{
		margin-top: 4rem;
		font-size: 10rem;
		-webkit-transform: scale(0.1);
		-moz-transform: scale(0.1);
    transform: scale(0.1);
		opacity: 0;
	}



#section3{
	height: 210rem;
	background-color: #f0f0f0;
}

	#section3 .rollingFrame{
		height: 100vh;
		padding-top: 20vh;
		padding-bottom: 8vh;
    position: sticky;
    top: 0;
    left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
    overflow: hidden;
	}

	/* 스크롤 콘텐츠 */
	#section3 .slideContainer{
		width: 120rem;
		margin: 5rem auto 0;
		display: flex;
		gap: 16.6rem;
	}

	#section3 .slideContainer .slideItem{
		width: 70%;
		height: 46rem;
		padding: 6rem;
		flex-shrink: 0;
		border-radius: 4rem;
		box-shadow: 0px 32px 40px rgba(129, 129, 129, 0.16);
		background-size: 402px 265px;
		background-position: right center;
		background-repeat: no-repeat;
		background-color: #fff;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
	}
	#section3 .slideContainer .slideItem:hover{
		box-shadow: 0px 32px 40px rgba(129, 129, 129, 0.32);
		transform: scale(1.05);
	}
	#section3 .slideContainer .slideItem.item1{background-image: url(../img/bg_mainSlide1.png);}
	#section3 .slideContainer .slideItem.item2{background-image: url(../img/bg_mainSlide2.png);}
	#section3 .slideContainer .slideItem.item3{background-image: url(../img/bg_mainSlide3.png);}
	#section3 .slideContainer .slideItem.item4{background-image: url(../img/bg_mainSlide4.png);}
	#section3 .slideContainer .slideItem.item5{background-image: url(../img/bg_mainSlide5.png);}
	#section3 .slideContainer .slideItem.item6{background-image: url(../img/bg_mainSlide6.png);}
	#section3 .slideContainer .slideItem.item7{background-image: url(../img/bg_mainSlide7.png);}

	#section3 .slideContainer .slideItem .itemTitle{
		font-size: 4.4rem;
		font-weight: 700;
    color: #282828;
	}

	#section3 .slideContainer .slideItem .itemDesc{
		margin-top: 2rem;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: start;
		align-items: center;
	}

	#section3 .slideContainer .slideItem .itemDesc .hashtag{
		margin-right: 1rem;
		font-size: 2rem;
		color: #888;
	}

	#section3 .slideContainer .slideItem .itemDesc .hashtag::before{
		content: '#';
	}

	#section3 .slideContainer .slideItem .btn{
		margin-top: 21.2rem;
	}



#section4{
    width: 100%;
    /* background-color: antiquewhite; */
    box-sizing: border-box;
    padding-top: 160px;
    padding-bottom: 100px;
}
	#section4 .innerWrap{
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
	}
	#section4 .subTitle{
		margin-top: 16rem;
	}
	#section4 .secTitle{
		margin-top: 3rem;
	}
	#section4 .secTitle{
		margin-top: 3rem;
	}
	#section4 .btn{
		margin-top: 6rem;
	}

	#section4 .innerWrap .swiperWrapper{
		border-radius: 24px;
		width: 38rem;
		height: 77.2rem;	
		position: relative;
		padding: 14px;
		overflow: hidden;
	}

	#section4 .innerWrap .swiperWrapper::before{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background: url("../img/phone_frame.png") no-repeat center/cover;
		z-index: 10;
	}

	#section4 .innerWrap .swiperWrapper .swiperItem{
		width: 100%;
		height: 77.2rem;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	#section4 .innerWrap .swiperWrapper .item1{background-image: url(../img/bg_mainSwiper1.png);}
	#section4 .innerWrap .swiperWrapper .item2{background-image: url(../img/bg_mainSwiper2.png);}
	#section4 .innerWrap .swiperWrapper .item3{background-image: url(../img/bg_mainSwiper3.png);}
	#section4 .innerWrap .swiperWrapper .item4{background-image: url(../img/bg_mainSwiper4.png);}
	#section4 .innerWrap .swiperWrapper .item5{background-image: url(../img/bg_mainSwiper5.png);}
	#section4 .innerWrap .swiperWrapper .item6{background-image: url(../img/bg_mainSwiper6.png);}


	@media screen and (max-width: 1199px) {
		#section3 .slideContainer {
			width: 80vw;
			margin: 5rem auto 0;
			display: flex;
			gap: 10rem;
		}
	}



#section5{
	min-height: auto;
	padding-top: 16rem;
	padding-bottom: 16rem;
}
	#section5 .secTitle{
		text-align: center;
	}
	#section5 .partners{
		width: 100%;
		margin-top: 10rem;
	}



#section6{
	width: 100%;
	min-height: auto;
	padding-top: 6rem;
	padding-bottom: 6rem;
	background-color: #282828;
}
#section6 .secTitle{
	font-size: 3rem;
	color: #fff;
}
#section6 .wrap button{
	color: #282828;
	padding: 9px 20px;
	background-color: #fff;
	border-radius: 22px;
	transition: all 0.3s;
}
#section6 .wrap button:hover{
	color: #E50A84;
}



.footer{
	padding-top: 6rem;
	padding-bottom: 6rem;
}
	.footer .innerWrap{
		display: flex;
		justify-content: space-between;
	}
	.footer .innerWrap .wrapper{
		width: 50%;
	}

	.footer .innerWrap .wrapper:first-child{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.footer .innerWrap .wrapper:last-child{
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.footer .footerTitle{
		font-size: 2rem;
		font-weight: 600;
		color: #282828;
	}

	.footer .companyInfo{
		margin-top: 2.4rem;
	}

	.footer .companyInfo p,
	.footer .companyInfo span{
		margin-top: 0.4rem;
		font-size: 1.4rem;
		color: #888;
		letter-spacing: -0.5px;
	}
	.footer .companyInfo span{
		margin-left: 0.3rem;
	}

	.footer .private{
		margin-top: 6rem;
		display: flex;
	}

	.footer .private li{
		margin-right: 1.4rem;
	}

	.footer .private li a{
		font-size: 1.4rem;
		color: #888;
		-webkit-transition: color .3s;
		-moz-transition: color .3s;
		transition: color .3s;
	}

	.footer .private li a:hover{
		font-size: 1.4rem;
		color: #282828;
	}

	.footer .copyright{
		margin-top: 2.4rem;
		display: block;
		font-size: 1.4rem;
		color: #888;
	}

	.footer .snsList{
		display: flex;
		gap: 1.2rem;
	}

	.footer .snsList svg path{
		fill: #282828;
		transition: all 0.2s;
	}
	.footer .snsList svg rect{
		stroke: #282828;
		fill: none;
		transition: all 0.2s;
	}
	.footer .snsList svg:hover path{
		fill: #fff;
	}
	.footer .snsList svg:hover rect{
		stroke: none;
		fill: #282828;
	}

	/* 패밀리사이트 슬라이드 */
	.footer .siteWrap{
		position: absolute; bottom: 0; right: 0;  z-index: 1;
	}
	.footer .siteWrap .familySiteBtn{
		width: 17rem;
		padding: 1rem;
		border: 1px solid #888;
		border-radius: 0.5rem;
		background-color: transparent;
		font-size: 1.4rem;
		font-weight: bold;
		color: #888;
		transition: all 0.3s;
		text-align: left;
		position: relative;
	}
	.footer .siteWrap .familySiteBtn:after{
		content: '';
		width: 1rem; 
		height: 1rem; 
		position: absolute; 
		bottom: 1.2rem; 
		right: 1rem; 
		background: url(../img/icon_mainFamilysiteBtn.svg) center center no-repeat; 
		transition: all 0.3s;
	}
	footer .siteWrap .familySiteBtn.active{
		border-radius: 5px 5px 0 0;
	}
	footer .siteWrap .familySiteBtn.active:after{
		transform: rotate(45deg);
	}
	footer .siteWrap .siteList{
		display: none;
	}
	footer .siteWrap .siteList li{
		border: 1px solid #888;
		border-top: none;
		background-color: #fff;
	}
	footer .siteWrap .siteList li:hover{
		background-color: #888;
	}
	footer .siteWrap .siteList li a{
		padding: 11px 9px;
		display: block;
		font-size: 14px;
		color: #888;
	}
	footer .siteWrap .siteList li:last-child{
		border-radius: 0px 0px 5px 5px;
	}


/***************************************
*             Modal Pop-Up             *
***************************************/

#popupWrap{
	display: none;
}

#popupWrap.on{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

#popupWrap .popupFrame{
	display: none;
}

#popupWrap .popupFrame.on{
	width: 60rem;
	height: 40rem;
	padding: 4rem;
	display: block;
	background-color: #fff;
	border-radius: 2rem;
	position: relative;
}

#popupWrap .popupFrame .closePopupBtn{
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: 0rem;
	right: -6rem;
	background: url(../img/icon_btn_closePopup.svg) no-repeat center /cover transparent;
	border: none;
	font-size: 3rem;
	color: #fff;
}

#popupWrap .popupFrame .popupHeader{
	display: flex;
	justify-content: center;
	align-items: center;
}

#popupWrap .popupFrame .popupHeader .icon{
	width: 8rem;
	height: 8rem;
	display: block;
	background: url(../img/icon_exclamation.svg) no-repeat center center / cover transparent;
}