@charset "utf-8";

/***************************************
*              Sub Common              *
***************************************/

	.section{
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	.secTitle{
		font-size: 5.6rem;
		color: #282828;
	}

	.subTitle{
		margin-top: 3rem;
		font-size: 2.4rem;
		color: #888;
	}

	.fontOrange{
		color: #ffb926;
	}

/***************************************/



/***************************************
*            DesignDev.html            *
***************************************/

	/* section1 */

		#section1 .innerWrap{
			height: 100vh;
			position: relative;
		}

		#section1 .secTitle{
			width: 100%;
			margin-top: -6rem;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
		}

		#section1 .secTitle,
		#section1 .secTitle div{
			font: 700 86px/1.3 "Pretendard Variable";
			color: #494949;
		}

		#section1 .secTitle.title1{
				animation-name: titleFirstMotion;
				animation-duration: 0.5s;
				animation-delay: 0.7s;
				animation-fill-mode: forwards;
		}
		#section1 .secTitle.title2{
			opacity: 0;
				animation-name: titleSecondMotion;
				animation-duration: 0.5s;
				animation-delay: 1.3s;
				animation-fill-mode: forwards;
		}

		/* 서브타이틀 */
		#section1 .subTitle{
			width: 100%;
			margin-top: 12rem;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
		}
		
		#section1 .subTitle .title1{
			margin-bottom: 2rem;
			transform: translateY(500%);
			opacity: 0;
			font-size: 2.8rem;
			animation-name: titleTopMotion;
			animation-duration: 0.5s;
			animation-delay: 2s;
			animation-fill-mode: forwards;
			animation-timing-function: cubic-bezier(.9,0,.58,1);
		}

		#section1 .subTitle .title1 .fontOrange{
			margin-right: 2rem;
		}

		#section1 .subTitle .title2{
			margin-top: 1rem;
			transform: translateY(250%);
			opacity: 0;
			font-size: 2rem;
			animation-name: titleBottomMotion;
			animation-duration: 0.5s;
			animation-delay: 2.8s;
			animation-fill-mode: forwards;
			animation-timing-function: cubic-bezier(.9,0,.58,1);
		}

		/***************************************/

		/* 키프레임에니메이션 */
		@keyframes titleFirstMotion {
				0% {
						opacity: 1;
				}
				100% {
						opacity: 0;
				}
		}
		@keyframes titleSecondMotion {
				0% {
						opacity: 0;
				}
				100% {
						opacity: 1;
				}
		}
		@keyframes titleTopMotion {
				0%{
						opacity: 0;
						transform: translateY(500%);
				}
				100%{
						opacity: 1;
						transform: translateY(0);
				}
		}
		@keyframes titleBottomMotion {
				0%{
						opacity: 0;
						transform: translateY(250%);
				}
				100%{
						opacity: 1;
						transform: translateY(0);
				}
		}

		/* section2 */

			#section2{
				background-color: #f8f8f8;
			}

			#section2 .secTitle,
			#section2 .subTitle{
				text-align: center;
			}

			#section2 .flexWrap.grid{
				margin-top: 5rem;
			}

			#section2 .profile{
				padding: 2rem 2.5rem;
				display: flex;
				align-items: center;
				gap: 2rem;
				background-color: #fff;
				border: 1px solid #e1e1e1;
				border-radius: 2rem;
			}

			#section2 .profile img{
				width: 12rem;
				height: 12rem;
			}

			#section2 .profile figcaption{
				height: 15rem;
				padding-left: 2rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				border-left: 1px solid #f0f0f0;
			}

			#section2 .profile figcaption .caption{
				margin-bottom: 1.4rem;
				font-size: 2.4rem;
			}

			#section2 .profile figcaption .description{
				margin-bottom: 1rem;
				font-size: 1.6rem;
				color: #888;
			}

			#section2 .storyWrap{
				width: 100%;
				margin: 2rem auto 0;
				width: 60rem;
				padding: 1rem;
				display: flex;
				justify-content: space-between;
				align-items: center;
				background-color: #fff;
				border: 1px solid #e1e1e1;
				border-radius: 10rem;
			}

			#section2 .storyWrap .contTitle{
				padding-left: 5.5rem;
				font-size: 2rem;
				color: #e1e1e1;
			}

			#section2 .storyWrap .btnTeamStroy .btnNm{
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 10px;
			}
		

		/* section3 */

			#section3 .secTitle,
			#section3 .subTitle{
				text-align: center;
			}
			#section3 .contWrap{
				margin-top: 5rem;
				overflow: hidden;
			}

			#section3 .contWrap .contentBox{
				height: 19rem;
				float: left;
				padding: 7rem 4.6rem;
				border-radius: 11rem;
				background-color: #f8f8f8;
			}

			#section3 .contWrap .content1{
				background-color: #f8f8f8;
			}
			#section3 .contWrap .content2{
				margin-left: -3rem;
				background-color: rgba(255, 185, 38, 0.5);
			}
			#section3 .contWrap .content3{
				margin-left: -3rem;
				background-color: rgba(255, 185, 38, 0.9);
			}
			#section3 .contWrap .content4{
				width: 19rem;
				margin-left: -3rem;
				background-color: #282828;
				border-radius: 50%;
			}

			#section3 .contWrap .content4 .contTitle{
				color: #fff;
			}

			#section3 .contWrap .contentBox .contTitle{
				font-size: 2rem;
				font-weight: 600;
				text-align: right;
			}
			#section3 .contWrap .contentBox .contDesc{
				margin-top: 1.5rem;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}

			#section3 .contWrap .contentBox .contDesc .contText{
				margin: 0 2rem;
				padding-left: 1rem;
				padding-right: 1rem;
				position: relative;
				font-size: 1.4rem;
			}

			#section3 .contWrap .contentBox .contDesc .contText:first-child{
				padding-left: 0;
			}
			#section3 .contWrap .contentBox .contDesc .contText:last-child{
				padding-right: 0;
			}

			#section3 .contWrap .contentBox .contDesc .contText:first-child{
				margin-left: 0;
			}
			
			#section3 .contWrap .contentBox .contDesc .contText:last-child{
				margin-right: 0;
			}

			#section3 .contWrap .contentBox .contDesc .contText::before{
				content: '';
				width: 5px;
				height: 5px;
				position: absolute;
				top: 5px;
				left: -5px;
				border-radius: 50%;
				background-color: #282828;
			}

			#section3 .contWrap .contentBox .contDesc .contText:first-child:before,
			#section3 .contWrap .contentBox .contDesc .contText:last-child:after{
				content: none;
			}

			#section3 .contWrap .contentBox .contDesc .contText::after{
				content: '';
				width: 4rem;
				height: 5px;
				position: absolute;
				top: 5px;
				right: -40px;
				background: url(../img/img_subDesignDev_line.png)center center no-repeat;
			}



		/* section4 */

			#section4{
				background-color: #f0f0f0;
				padding-top: 8.4rem;
			}

			#section4 .innerWrap{
				position: relative;
			}

			#section4 .secTitle{
				padding-top: 7rem;
			}

			#section4 .secTitle div,
			#section4 .subTitle div{
				font-size: inherit;
			}

			#section4 .secTitle div{
				margin-bottom: 1rem;
			}

			#section4 .subTitle div{
				margin-bottom: 0.6rem;
			}

			#section4 .slide{
				width: 50%;
				margin-top: 8rem;
				margin-left: -1rem;
				margin-bottom: 0;
			}

			#section4 .slide .slideItem{
				width: 16.6667%;
				height: 24.7rem;
				margin: 0 1rem;
				position: relative;
				border-radius: 2rem;
				overflow: hidden;
			}

			#section4 .slide .slideItem img{
				width: 100%;
			}
			
			#section4 .slide .slideItem .hoverLink{
				width: 100%;
				height: 100%;
				display: none;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				position: absolute;
				top: 0;
				left: 0;
				background-color: rgba(0,0,0,0.5);
			}

			#section4 .slide .slideItem:hover .hoverLink{
				display: flex;
			}
			
			#section4 .slide .slideItem .hoverLink .itemTitle{
				margin-top: 8rem;
				font-size: 2rem;
				color: #fff;
			}

			#section4 .slide .slideItem .hoverLink .moreView{
				width: 2.4rem;
				height: 2.4rem;
				margin-bottom: 8rem;
				background: url(../img/icon_subDesignDev_btn.svg) top center no-repeat;
				background-size: contain;
				border: none;
			}

			#section4 .slide .slick-dots {
				position: absolute;
				top: -2.5rem;
				bottom: auto;
				left: 1rem;
				display: block;
				width: 100%;
				padding: 0;
				margin: 0;
				list-style: none;
				text-align: left
			}

			#section4 .slide .slick-dots li{
				width: 0.6rem;
				height: 0.6rem;
			}

			#section4 .slide .slick-dots li button:before {
				content: '';
				width: 0.6rem;
				height: 0.6rem;
				background-color: #888;
				border-radius: 50%;
				opacity: 1;
			}

			#section4 .slide .slick-dots li button:hover:before,
			#section4 .slide .slick-dots li button:focus:before{
				background-color: #282828;
			}

			#section4 .slide .slick-dots li.slick-active button:before{
				opacity: 1;
				background-color: #ffb926;
			}

			#section4 .thumbnailVideo{
				width: 40rem;
				position: absolute;
				bottom: 0;
				right: 0;
				border-radius: 2rem;
				overflow: hidden;
			}

			#section4 .thumbnailVideo .slideItem{
				height: 70rem;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				border: none;
			}

			#section4 .thumbnailVideo .item1{background-image: url(../img/img_subDesignDev_vertical01.jpg);}
			#section4 .thumbnailVideo .item2{background-image: url(../img/img_subDesignDev_vertical02.jpg);}
			#section4 .thumbnailVideo .item3{background-image: url(../img/img_subDesignDev_vertical03.jpg);}
			#section4 .thumbnailVideo .item4{background-image: url(../img/img_subDesignDev_vertical04.jpg);}
			#section4 .thumbnailVideo .item5{background-image: url(../img/img_subDesignDev_vertical05.jpg);}
			#section4 .thumbnailVideo .item6{background-image: url(../img/img_subDesignDev_vertical06.jpg);}
			#section4 .thumbnailVideo .item7{background-image: url(../img/img_subDesignDev_vertical07.jpg);}
			#section4 .thumbnailVideo .item8{background-image: url(../img/img_subDesignDev_vertical08.jpg);}
			#section4 .thumbnailVideo .item9{background-image: url(../img/img_subDesignDev_vertical09.jpg);}


		/* section5 */
			#section5{
				background-color: #ffb926;
			}

			#section5 .secTitle div,
			#section5 .subTitle div{
				font-size: inherit;
				text-align: center;
				color: #fff;
			}

			#section5 .secTitle div{
				margin-bottom: 1rem;
			}

			#section5 .subTitle div{
				margin-bottom: 0.6rem;
			}

			#section5 .characterDesignBtn{
				background-color: transparent;
				border: none;
			}

			#section5 .characterDesignBtn img{
				transition: transform .3s;
			}

			#section5 .characterDesignBtn:hover img{
				transform: scale(1.05);
			}




/****************************************/

#popupWrap .popupFrame.on.characterDesignModal{
	width: 100rem;
	height: auto;
	padding: 0.6rem;
	background-color: #ffb926;
	border-radius: 4rem;
}

#popupWrap .popupFrame.on.characterDesignModal .flexWrap{
	flex-wrap: unset;
	align-items: stretch;
	gap: 6rem;
}

.characterDesignModal .leftBox{
	padding: 4rem;
}

.characterDesignModal .leftBox figure{
	text-align: center;
}
.characterDesignModal .leftBox img{
	width: 30rem;
	height: 30rem;
}

.characterDesignModal .leftBox .charNm{
	margin-top: 2rem;
	font-size: 3.6rem;
	font-weight: 600;
	color: #fff;
}

.characterDesignModal .leftBox .charEngNm{
	margin-top: 1rem;
	font-size: 2.8rem;
	color: #fff;
}

.characterDesignModal .rightBox{
	padding: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 0 3.4rem 3.4rem 0;
	background-color: #fff;
}

.characterDesignModal .rightBox .charDescTitle{
	margin-top: 2rem;
	font-size: 3.6rem;
	color: #ffb926;
}

.characterDesignModal .rightBox .charDescTitle:first-child{
	margin-top: 0;
}

.characterDesignModal .rightBox .charDescription{
	margin-top: 1rem;
	font-size: 2rem;
	color: #888;
	line-height: 1.6;
}

.characterDesignModal .rightBox .btnWrap{
	margin-top: 4rem;
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
}



/***************************************/

/* section5 */

.sec5{
    background-color: #ffb926;
}
.sec5 .sec5ConWrap{
    padding-top: 84px;
}
.sec5 .sec5ConWrap .title h2{
    color: #fff;
}
.sec5 .sec5ConWrap .title p{
    color: #fff;
}
.sec5 .sec5Con{
    text-align: center;
}
.sec5 .sec5Con img{
    transform: scale(1);
    transition: all 0.3s;
    cursor: pointer;
}
.sec5 .sec5Con img:hover{
    transform: scale(1.1);
}

/* 캐릭터 클릭시 설명 나오기(여우) */
.sec5OverlayWrap{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    cursor: pointer;
}
.sec5OverlayWrap .sec5CloseIcon{
    width: 72px;
    height: 72px;
    background: url("../../common/img/close_icon.svg") no-repeat center;
}
.sec5OverlayWrap.on{
    display: block;
}

/* 캐릭터 클릭시 설명 공통 속성 */
.sec5Overlay{
    padding-top: 84px;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 40px;
}
.sec5Overlay .box{
    display: flex;
    align-items: stretch;
}
.sec5Overlay .box .left{
    padding: 55px 60px;
    text-align: center;
    background-color: #ffb926;
    border-radius: 40px 0 0 40px;
}
.sec5Overlay .box .left .ko{
    padding-top: 20px;
    font: 700 44px/1.6 "Pretendard Variable";
    color: #fff;
}
.sec5Overlay .box .left .en{
    font: 600 28px/1.6 "Pretendard Variable";
    color: #fff;
}
.sec5Overlay .box .right{
    padding: 55px 60px;
    background-color: #fff;
    box-sizing: border-box;
    border: 6px solid #FFb926;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 0 40px 40px 0;
}
.sec5Overlay .box .right .large{
    font: 700 36px/1.6 "Pretendard Variable";
    color: #FFb926;
}
.sec5Overlay .box .right .small{
    font: 400 24px/1.6 "Pretendard Variable";
    color: #888;
    white-space: nowrap;
}
.sec5Overlay .box .right button a{
    box-sizing: border-box;
    display: block;
    color: #FFb926;
    border: 1px solid #FFb926;
    border-radius: 22px;
    padding: 9px 20px;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.sec5Overlay .box .right button a::after{
    content: '';
    display: block;
    background-color: #FFb926;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.1s linear;
    transform: translateX(-100%);
    z-index: -1;
}
.sec5Overlay .box .right button a:hover{
    color: #fff;
    z-index: 1;
}
.sec5Overlay .box .right button a:hover::after{
    transform: translateX(0%);
}